@import url("fonts.css");

.rounded-conditional-lg {
  border-radius: max(0px, min(0.5rem, calc(999900vw - 9999rem - 999900%)));
}

.rounded-conditional-xl {
  border-radius: max(0px, min(0.75rem, calc(999900vw - 9999rem - 999900%)));
}

.rounded-conditional-3xl {
  border-radius: max(0px, min(1.5rem, calc(999900vw - 9999rem - 999900%)));
}
