---
import { Icon } from "astro-icon";

let { className = "" } = Astro.props;
---

<article class={"flex flex-col " + className}>
  <div class="h-80">
    <slot name="illustration"></slot>
  </div>
  <div class="flex flex-col items-center max-w-md md:items-start">
    <h2
      class="relative z-10 inline-block text-2xl font-bold font-display after:bg-pine-100 after:-z-10 text-pine-800 after:w-full after:h-1/2 after:absolute after:left-0 after:-bottom-1 after:rounded-full"
    >
      <Icon
        pack="ri"
        name="checkbox-circle-fill"
        class="absolute h-6 top-1 -left-8"
      />
      <slot name="title"></slot>
    </h2>
    <p class="mt-2">
      <slot name="paragraph"></slot>
    </p>
  </div>
</article>
