---
import { Icon } from "astro-icon";
import { t } from "i18next";
---

<section
  id="community"
  class="max-w-5xl px-12 py-20 mx-auto -mt-40 text-center shadow-2xl text-pine-100 bg-pine-800 rounded-3xl"
>
  <div class="max-w-2xl mx-auto">
    <h2 class="text-4xl font-bold font-display">{t("community.title")}</h2>
    <p class="mt-8 text-xl">
      {t("community.vision")}
    </p>
    <p class="mt-4 text-xl">
      {t("community.join")}
    </p>
    <div class="flex items-center justify-center mt-8 gap-x-8">
      <a
        href="https://podlibre.social/@castopod"
        class="hover:text-white"
        title={t("common:followOnFediverse")}
        ><Icon pack="ri" name="mastodon-fill" class="h-10" />
      </a>
      <a
        href="https://twitter.com/castopod"
        class="hover:text-white"
        title={t("common:followOnTwitter")}
        ><Icon pack="ri" name="twitter-fill" class="h-10" />
      </a>
      <a
        href="https://castopod.org/discord"
        class="hover:text-white"
        title={t("common:joinDiscord")}
        ><Icon pack="ri" name="discord-fill" class="h-10" />
      </a>
    </div>
  </div>
</section>
