---
import { Icon } from "astro-icon";
---

<section
  id="community"
  class="max-w-4xl p-12 mx-auto -mt-40 text-center shadow-2xl text-pine-100 bg-pine-800 rounded-3xl"
>
  <div class="max-w-xl mx-auto">
    <h1 class="text-4xl font-bold font-display">Join our community</h1>
    <p class="mt-4 text-xl">
      Our goal is to keep the podcasting ecosystem decentralized to ensure a
      breading ground for creativity and innovation.<br />
      Join our community and share your experience and expertise!
    </p>
    <div class="flex items-center justify-center mt-8 gap-x-8">
      <a href="https://podlibre.social/@castopod"
        ><Icon pack="ri" name="mastodon-fill" class="h-10"
      /></a>
      <a href="https://twitter.com/castopod"
        ><Icon pack="ri" name="twitter-fill" class="h-10"
      /></a>
      <a href="https://castopod.org/discord"
        ><Icon pack="ri" name="discord-fill" class="h-10"
      /></a>
    </div>
  </div>
</section>
