---
import { Icon } from "astro-icon";
---

<section
  id="community"
  class="max-w-5xl px-12 py-20 mx-auto -mt-40 text-center shadow-2xl text-pine-100 bg-pine-800 rounded-3xl"
>
  <div class="max-w-2xl mx-auto">
    <h2 class="text-4xl font-bold font-display">Join our community</h2>
    <p class="mt-8 text-xl">
      Our goal is to keep the podcasting ecosystem decentralized ensuring
      breeding grounds for innovation and creativity.
    </p>
    <p class="mt-4 text-xl">
      Join our community and share your experience and expertise!
    </p>
    <div class="flex items-center justify-center mt-8 gap-x-8">
      <a
        href="https://podlibre.social/@castopod"
        class="hover:text-white"
        title="Follow us on Mastodon"
        ><Icon pack="ri" name="mastodon-fill" class="h-10" />
      </a>
      <a
        href="https://twitter.com/castopod"
        class="hover:text-white"
        title="Follow us on Twitter"
        ><Icon pack="ri" name="twitter-fill" class="h-10" />
      </a>
      <a
        href="https://castopod.org/discord"
        class="hover:text-white"
        title="Join our Discord server"
        ><Icon pack="ri" name="discord-fill" class="h-10" />
      </a>
    </div>
  </div>
</section>
