---
import CastopodMascot from "assets:CastopodMascot";
import MainNav from "organisms:MainNav";
import { Icon } from "astro-icon";
---

<header id="jumbotron" class="text-pine-100 bg-pine-800">
  <MainNav />
  <hr class="container border-pine-500" />
  <div
    class="container flex items-center justify-center px-4 pt-12 pb-56 md:px-0 md:justify-between"
  >
    <div
      class="flex flex-col items-center max-w-xl text-center md:items-start md:text-left"
    >
      <h1 class="text-3xl font-bold md:text-5xl font-display">
        The free and open-source solution to your podcasting journey
      </h1>
      <p class="mt-4">
        Self-host your podcasts with ease, keep control over what you create and
        talk to your audience without any middleman. Your podcast and your
        audience belong to you and you only.
      </p>
      <div class="flex items-center mt-6 gap-x-4">
        <a
          href="https://code.podlibre.org/podlibre/castopod-host/uploads/5d272db2dd36f17a08eb79b4565d6d39/castopod-host-1.0.0-beta.1.zip"
          class="inline-flex items-center px-4 py-2 font-semibold bg-white rounded-full shadow-md text-pine-900 gap-x-2 hover:bg-pine-50 focus:outline-none focus:ring-2 focus:ring-pine-400 focus:ring-opacity-75"
          download
        >
          <Icon pack="ri" name="download-cloud-2-fill" class="h-6 text-pine-500"
          />
          Download Castopod
        </a>
        <a
          href="https://github.com/ad-aures/castopod-host"
          class="inline-flex items-center px-4 py-2 font-semibold border-2 rounded-full border-pine-500 text-pine-100 gap-x-2 bg-pine-800 hover:bg-pine-900 focus:outline-none focus:ring-2 focus:ring-pine-400 focus:ring-opacity-75"
        >
          <Icon pack="ri" name="github-fill" class="h-6 text-pine-500" />
          Star
        </a>
      </div>
    </div>
    <CastopodMascot className="h-80 hidden md:block" />
  </div>
</header>
