---
import AdauresLogo from "assets:AdauresLogo";
import NLnetLogo from "assets:NLnetLogo";
import { Icon } from "astro-icon";
---

<section id="sponsors" class="flex flex-col items-center p-16 text-center">
  <h1
    class="relative z-10 inline text-4xl font-bold font-display after:bg-pine-100 after:-z-10 text-pine-800 after:w-full after:h-1/2 after:absolute after:left-0 after:-bottom-1 after:rounded-full"
  >
    Sponsored by
  </h1>
  <div class="flex flex-wrap items-center justify-center gap-12 mt-8">
    <a href="https://adaures.com/" target="_blank" rel="noopener noreferrer"
      ><AdauresLogo className="h-12 text-[#2A2D7C]"
    /></a>
    <a
      href="https://nlnet.nl/project/Castopod/"
      target="_blank"
      rel="noopener noreferrer"
      ><NLnetLogo className="h-12"
    /></a>
    <a
      href="https://opencollective.com/castopod/contribute"
      class="inline-flex items-center font-semibold underline gap-x-1 decoration-pine-500 decoration-4 hover:no-underline"
      target="_blank"
      rel="noopener noreferrer"
      >Become a sponsor<Icon pack="ri" name="arrow-right-line" class="h-6"
    /></a>
  </div>
</section>
